{% extends 'base.html' %}

{% block 'title' %}cadastrar turma{% endblock %}

{% block 'body' %}
    <div class="container">
        {% if messages %}
            <br>
            {% for m in messages%}
                <div class="alert alert-{{m.tags}}" role="alert">{{m}}</div>
            {% endfor%}
        {% endif %}
        <form action="{% url 'matricular_turma' %}" method="POST">{% csrf_token %}
            <br>
            <label>Ano:</label>
            <input type="number" placeholder="Digite o Ano..." name="ano" class="form-control">
            <br>
            <label>Semestre:</label>
            <input type="number" placeholder="Digite o Semestre..." name="semestre" class="form-control">
            <br>
            <label>Dia Semana:</label>
            <input type="number" placeholder="Digite o Dia da Semana..." name="diaSemana" class="form-control">
            <br>
            <label>Horarios:</label>
            <input type="number" placeholder="Digite os Horarios..." name="horarios" class="form-control">
            <br>
            <input type="submit" class="btn btn-success">
        
        </form>

      </div>
{% endblock %}