{% extends 'base.html' %}

{% block 'title' %}Listar Alunos{% endblock %}

{% block 'body' %}
    <div class="container">
        {% if messages %}
            <br>
            {% for m in messages%}
                <div class="alert alert-{{m.tags}}" role="alert">{{m}}</div>
            {% endfor%}
        {% endif %}
        
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">endereco</th>
                    <th scope="col">telefone</th>
                    <th scope="col">matricula</th>
                    <th scope="col">situacao</th>
                    <th scope="col">Excluir</th>
                </tr>
            </thead>
            <tbody>
                {% for a in alunos%}
                    <tr>
                        <th>{{a.nome}}</th>
                        <td>{{a.endereco}}</td>
                        <td>{{a.telefone}}</td>
                        <td>{{a.matricula}}</td>
                        <td>{{a.situacao}}</td>
                        <td><a href="{% url 'excluir_aluno' a.id %}"><button class="btn btn-danger">Excluir</button></a></td>
                    </tr>
                {% endfor %}
               
            </tbody>
            </table>

    </div>
{% endblock %}
