{% extends 'base.html' %}

{% block 'title' %}cadastrar disciplina{% endblock %}

{% block 'body' %}
    <div class="container">
        {% if messages %}
            <br>
            {% for m in messages%}
                <div class="alert alert-{{m.tags}}" role="alert">{{m}}</div>
            {% endfor%}
        {% endif %}
        <form action="" method="POST">{% csrf_token %}
            {{ formDisciplina.as_p }}
            <input type="submit" class"btn btn-success" value="cadastrar">            
        </form>

      </div>
{% endblock %}